@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto:wght@700&display=swap');

.tituloPastel {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.tituloPastel:first-letter {
  text-transform: uppercase;
}

.shared-style {
  color: #050404;
}

.buttonVerMas {
  background-color: #f52d5d;
  font-family: 'Comic Neue', cursive;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #582df5;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.buttonVerMas:hover {
  background-color: #f9547b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.buttons {
  display: flex;
  justify-content: center;
}

.price {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}

.footer {
  border-top: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.contenedorPastel {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

@media (max-width: 1200px) {
  .contenedorPastel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .contenedorPastel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contenedorPastel {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  border-radius: 10px;
  box-shadow: rgba(110, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
}

.buttonAnadir {
  background-color: #d41e4f;
  font-family: 'Comic Neue', cursive;
  margin-left: 15px;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.04), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1), border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1), color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.buttonAnadir:hover {
  background-color: #f9547b;
  border-color: #1b1f23;
}

.buttonAnadir:active {
  background-color: #ffffff;
  color: #bd5973;
  border-color: #8b5060;
}


.navbar {
  background-color: #f52d5d;
  justify-content: space-between;
  font-family: 'Comic Neue', cursive;
  display: flex; 
  align-items: center;
}

.navbar a {
  color: white;
  font-size: 1.5rem;
  font-family: 'Comic Neue', cursive;
  margin-left: 10px;
}

.header {
  background: linear-gradient(rgba(249, 71, 94, 0.7), rgba(199, 27, 48, 0.7));
  background-size: cover;
  font-family: 'Comic Neue', cursive;
  height: 120px;
  text-shadow: 2px 2px #000000;
  border: solid;
  border-width: 1px;
  border-color: #f52d5d;
}

.titulo1,
.titulo2 {
  margin: 10px;
  color: white;
  font-family: 'Comic Neue', cursive;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar .options {
  display: flex;
  align-items: center;
}

.navbar .options a {
  margin-left: 10px;
}

.container7 {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: #e35656;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #c07d7d;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #9142a7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.filtro-container2 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filtro-input {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filtro-input input {
  margin-left: 10px;
  border: none;
}

.filtro-boton {
  margin-left: 10px;
  background-color: #9142a7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

/* Estilos de la tabla de resultados */
.resultados-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.resultados-table {
  width: 100%;
  border-collapse: collapse;
}

.resultados-table th,
.resultados-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.resultados-table th {
  background-color: #9142a7;
  color: #fff;
}

.resultados-table tr:hover {
  background-color: #f2f2f2;
}

.no-resultados {
  text-align: center;
  color: #f52d5d;
  margin-top: 10px;
}


.buttonEliminar {
  background-color: pink;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente */
}

.buttonEliminar:hover {
  background-color: red;
}

.trash-icon {
  font-size: 14px; /* Ajusta el tamaño del ícono */
}

.carrito h1 {
  font-size: 20px;
}